:default-button-color {
	--default-button-color: #61d0d4;
}

.About {
	color: white;
}

.About {
	
	padding-left: 15%;	
	margin-top: 75px;
	width: 100vw;
	display: grid;
	grid-template-columns: auto;
	/*border-color: solid black;*/
	padding-right: 15%;

}

#portfolio-git {
	color: white;
}

.personal-summary p {
	padding-bottom: 8px;

}

.candidate-name {
	padding-bottom: 10px;
	font-size: 8vh;
	color: orange;
}

.about-button {
	width: 25%;
}

.about-navigation {
	width: 100%;
	display: grid;
	grid-template-columns: 20% 20% 20%;
}

.column-title {
	padding-bottom: 50px;
}

/*.round-button {
	 /*background shouldn't be used just here in case inline styling fault ocurrs
	background: var(--default-button-color);
	text-align: center;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	outline: none;
}*/

.contact-information {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 30px;
	/*border: solid black;*/
}

.contact-information i {
	color: orange;
}


.contact-information * {
	color: white;
}

#g-doc {
	cursor: pointer;
}

.contact-box {
	width: 100%;
	display: grid;
	grid-template-columns: 30% 70%;
	grid-gap: 30px;
	/*border: solid black;*/

}

.info {
	padding-top: 10px;
}

.cv-link {
	cursor: pointer;
}

.see-projects {
	border: solid white;
	text-align: center;
	border-radius: 50px;
	width: 250px;
	height: 50px;
	margin: auto;
	padding-top: 10px;
	display: flex;
	justify-content: center;
    background-size: 200% 200%;
	background-image: linear-gradient(to right,  orange 50%, transparent 0%);
	/*-webkit-transition: background-position 1s;*/
	/*-moz-transition: background-position 1s;*/
  	background-position: right;
	transition: background-position 0.8s;
}

.see-projects:hover {
    background-position: left;
    cursor: pointer;
}

.see-projects * {
	color: white;
}

.fa-arrow-right {
	padding-left: 10px;
	padding-top: 3px;
}

@media (max-width: 768px) {
	.contact-information {
		display: grid;
		grid-template-columns: auto;
		grid-gap: 30px;
	}

	.personal-summary {
		margin-right: 30px;
	}

	.About {
		margin-top: 20px;

	}

	.see-projects {
		margin-bottom: 20px;
	}

}
