.Education {
	color: white;
  padding-top: 50px;
}

.Education h2 {
  color: orange;
}

.intro {
	margin-left: 20%;
	padding-bottom: 50px;
}

.education-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40%;
  height: 100%;
  padding-left: 20%;
  width: 60%;
}

.subject {
	padding-right: 20px;
	padding-bottom: 10px;
}

@media (max-width: 768px) {
  .education-grid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
  }

  .Education {
    justify-content: center;
  }
}