/*.footer {
   position: relative;
   bottom: 0;
   width: 100%;
   background-color: #333;
   color: white;
   text-align: center;
   display: flex;
   justify-content: space-between;
   height: 10vh;
}

.contact {
	text-align: center;
	display: inline-block;
   font-size: 14px;
}

.footer-column {
	width: 33%;
}

.social-media{
	display: grid;
   grid-template-rows: auto auto;
	
	
}

.social-media a {
	color: white;
}

.react img {
   max-height: 30px;
}

.react h5 {
   font-size: 12px;
}*/