.navbar  {
	background-color: #333;
	top: 0;
	position: fixed;
	width: 100%;
	height: 10vh;
}

.navbar-buttons {
	padding: 15px;
	display: flex;
	justify-content: space-around;
}

.navbar-buttons a {
	padding: 10px;
	display: inline-block;
	float: left;
	color: white;
	text-align: center;
	
	margin-right: 5px;
	font-size: large;
	outline: none;

}

.navbar-buttons a:hover {
	background-color: #F0F8FF;
	color: black;
	border-radius: 10px;
}

.navbar-buttons a.active {
	background-color: #1E90FF;
	color: white;
	border-radius: 10px;
}