.projects-grid-container {
	padding-top: 30px;
	padding-left: 10%;
	display: grid;
  	grid-template-columns: auto auto;
  	color: white;
}

@media (max-width: 768px) {

	.projects-grid-container {
		display: grid;
		grid-template-columns: auto;
	  	color: white;
	}

}
