.project-item {
	padding-bottom: 20px;
}


.project-links {
	display: flex;
	cursor: pointer;
	margin-bottom: 10px;
}
.project-links a {
	color: orange;
	text-decoration: underline;
}

.project-links img {
	width: 25px;
	margin-right: 10px;
}



.project-screenshot {
	height: 25vh;
	width: 25vw;
	border-radius: 8px;
	border-style: solid;
	border-color: black;
	border-width: 5px;
}

.project-title {
	display: flex;
}

.project-title h4 {
	color: orange;
	text-decoration: underline;
	padding-bottom: 5px;
	padding-right: 10px;
}

@media (max-width: 768px) {

	.project-screenshot {
		height: 50vw;
		width: 75vw;
	}

}