.skills {
	height: 70%;
	padding-top: 50px;
	padding-left: 10%;
	display: grid;
	grid-template-columns: 20% 80%;
}

.skills * {
	color: white;
}

.skills h1 {
	color: orange;
}

.individual-tech {
	padding-bottom: 20px;
}

.tech-logo {
	float: left;
	max-height: 30px;
	padding-right: 5px;
}

.column-title {
	padding-bottom: 20px;
}

.individual-skill {
	padding-bottom: 20px;
}

.skill-title {
	color: orange
}

.skill-title {
	flex: 20%;
}

.skill-expansion {
	max-width: 80%;
}

.skill-expansion li {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: block;
}

@media (max-width: 768px) {
	.skills {
		display: grid;
		grid-template-columns: auto;
	}
}