* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  height: 100vh;
  /*background-color: #333333;*/
  /*background-image: url('https://babalucas.com/wp-content/uploads/babalucas_background_2a.jpg');*/
  background-image: url('./background.jpg');
}

a {
  color: #333;
  text-decoration: none;
}

#root, .App {
  
}

.App {
  padding-top: 12vh;
}

@media (max-width: 768px) {
  html, body {
    background-color: #333333;
    background-image: none;
    /*background-position: center;*/
    background-repeat: no-repeat;  
    background-size: auto;
  }

  .App {
    padding-top: 8vh;
  }
}


